{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
<div><h1>Project: {{ project }}</h1></div>
<h4>Multiple Clients were found. Please select one from the list</h4>
<table>
    <thead>
    <tr>
        <th>Client ID</th>
        <th>First Seen</th>
        <th>Last Seen</th>
    </tr>
    </thead>
    <tbody>
{% for client in clients %}
       <tr>
           <td><a href="{{ client.url }}">{{ client.client }}</a></td>
           <td>{{ client.first }}</td>
           <td>{{ client.timestamp }}</td>
       </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
