{% extends "entry_base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/list.css">
{% endblock %}
{% block javascript %}
<script type="text/javascript">
var params = {{ params|safe }};
var events = {{ events|safe }};
</script>
<script type="text/javascript" src="/static/list.js"></script>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
<table id="table_summary" class="table table-bordered"></table><br/>
<table id="table_events" class="table table-bordered"></table>
{% endblock %}
