[aws]
access_key_id=
secret_access_key=
prefix = beta
telemetry_bucket = e01c178d-d558-4b54-b11f-897af5700283-beta-pinger
telemetry_prefix = 
isT3 = True

[hockeyapp]
app_id = 
api_token = 

[profile]
name = Pinger summary - Beta1
monitors = pinger-errors,pinger-warnings
#monitors = pinger-errors,pinger-warnings,pinger-client,pinger-push
recipient = 
