{% extends "base.html" %}
{% block title %}Redshift Database Query{% endblock %}
{% block content %}
<div class="search" style="float:left;margin:10px;display: inline-block">
    <form action="{% url 'db-query' %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
    </form>
</div>
<div class="help" style="margin:10px;display: inline-block">
    <br/>
    <b>Overview</b><br>
    This form allows you to query the database with the telemetry data from S3. <br>
    A few examples are:<br>
    <pre>
select * from dev_nm_device_info;

select * from dev_nm_log where timestamped >= '2015-06-22 00:00:00'
        and timestamped <= '2015-06-22 23:59:59';

select count(*), event_type from azim_dev_nm_device_info group by event_type;</pre>
	<br/>
</div>
<div style="clear:left">
<br/>

<b>Query Result</b>
<table>
    <tr>
        {% for col_name in col_names %}
        <th class="cell">{{ col_name|title }}</th>
        {% endfor %}
    </tr>
{% for row in results %}
       <tr>
           {% for col in row %}
           <td class="cell">{{ col|safe }}</td>
           {% endfor %}
       </tr>
{% endfor %}
</table>
</div>
{% endblock %}
