{% extends "base.html" %}
{% block title %}Redshift Database Delete Report{% endblock %}
{% block content %}
<div><h2>Project: {{ general_config.project }}</h2></div>
<br/>
<b>Summary</b>
<br/>
<table border="1">
       <tr>
           <td><b>Start</b></td>
           <td>{{ summary.start }}</td>
       </tr>
       <tr>
           <td><b>End</b></td>
           <td>{{ summary.end }}</td>
       </tr>
       <tr>
           <td><b>Event Classes</b></td>
           <td>{{ summary.event_classes }}</td>
       </tr>
    <tr>
           <td><b>Table Name </b></td>
           <td>{{ summary.table_name }}</td>
       </tr>
</table>
<br/>
<b>Delete Counts</b>
<br/>
<br/>

{% for event_class, count_dict in delete_stats.items %}
    <br/>
    <b>Event Class : {{ event_class }}</b>
    <br/>

    <table border="1">
        <tr>
            <th class="cell">Pre Delete Count</th>
            <th class="cell">Post Delete Count</th>
            <th class="cell">Deleted Count</th>
        </tr>
        {% for k in count_dict %}
                <tr>
                    <td class="cell">{{ k.pre_count }}</td>
                    <td class="cell">{{ k.post_count }}</td>
                    <td class="cell">{{ k.delete_count }}</td>
                </tr>
        {% endfor %}
    </table>
 {% endfor %}
<br/>
{% endblock %}

