{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<a href="{% url 'db-help' %}">Help</a><br>
<a href="{% url 'bugfix-home' %}">Search</a><br>
<a href="{% url 'log-report-form' %}">Daily Log Report</a><br>
<a href="{% url 'db-load' %}">RedShift Database Loader</a><br>
<a href="{% url 'bugfix-home' %}">RedShift Database Query</a><br>
<a href="{% url 'bugfix-home' %}">Pinger Stats</a><br>
<a href="{% url 'bugfix-home' %}">Support Requests</a><br>
<a href="{% url 'bugfix-home' %}">Devices</a><br>
<a href="{% url 'bugfix-home' %}">RedShift DB Stats</a><br>
<a href="{% url 'bugfix-home' %}">Counters, UI, Samples</a><br>
{% endblock %}
