<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
<h2>Project: {{ general_config.project_name }}</h2>
<br/>
<b>Summary</b>
<br/>
<table border="1">
       <tr>
           <td><b>Start</b></td>
           <td>{{ summary.start }}</td>
       </tr>
       <tr>
           <td><b>End</b></td>
           <td>{{ summary.end }}</td>
       </tr>
       <tr>
           <td><b>Report Period</b></td>
           <td>{{ summary.period }}</td>
       </tr>
    <tr>
           <td><b>Event Count</b></td>
           <td>{{ summary.event_count }}</td>
       </tr>
       <tr>
           <td><b>Event Rate</b></td>
           <td>{{ summary.event_rate |floatformat }}/hr</td>
       </tr>
       <tr>
           <td><b>Error Count</b></td>
           <td>{{ summary.ERROR }}</td>
       </tr>
       <tr>
           <td><b>Error Rate</b></td>
           <td>{{ summary.ERROR_rate |floatformat }}/hr</td>
       </tr>
        <tr>
            <td><b>Warning Count</b></td>
           <td>{{ summary.WARN }}</td>
       </tr>
       <tr>
           <td><b>Warning Rate</b></td>
           <td>{{ summary.WARN_rate |floatformat }}/hr</td>
       </tr>
</table>
<br/>
<b>Errors</b>
<table border="1">
    <tr>
        <th class="cell">Count</th>
        <th class="cell">Message</th>
    </tr>
{% for error in errors %}
       <tr>
           <td class="cell">{{ error.count }}</td>
           <td class="cell">{{ error.message }}</td>
       </tr>
{% endfor %}
</table>
<br/>
<b>Warnings</b>
<table border="1">
    <tr>
        <th class="cell">Count</th>
        <th class="cell">Message</th>
    </tr>
{% for warning in warnings %}
       <tr>
           <td class="cell">{{ warning.count }}</td>
           <td class="cell">{{ warning.message }}</td>
       </tr>
{% endfor %}
</table>
</body>
</html>
