<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN
http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.nachocove.dev.DailyMonitors</string>

    <key>ProgramArguments</key>
    <array>
        <string>python</string>
        <string>monitor.py</string>
        <string>--config</string>
        <string>monitor_dev.cfg</string>
        <string>--after</string>
        <string>last</string>
        <string>--before</string>
        <string>now</string>
        <string>--email</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>5</integer>
    </dict>

    <key>WorkingDirectory</key>
    <string>REPO/Parse/scripts</string>
</dict>
</plist>