.table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 70% !important;
}

.cell {
    border: 1px solid black;
    padding: 2px;
    align: left;
    vertical-align: top;
    word-wrap: break-word;
}

.debug {
}

.info {
}

.warn {
    background-color: #ffff99;
}

.error {
    background-color: pink;
}

.wbxml {
    background-color: #99ddff;
}

.wbxml pre {
    border: 0px;
}
.wbxmlb64 {
    background-color: #99ddff;
}

.ui {
    background-color: lightgreen;
}

.counter {
    background-color: #eeffff;
}

.capture {
    background-color: #eeffff;
}

.support {
    background-color: #ff6633;
    color: white;
}

.id_cell {
    display:none;
}
